<div class="modal-header">
    <h3 ng-if="contact.id">Update an existing contact</h3>
    <h3 ng-if="!contact.id">Create a new contact</h3>
</div>
<div class="modal-body">
    <form class="form" name="contactForm" novalidate ng-submit="saveContact(contactForm.$valid)">
        <div class="form-group" ng-class="{'has-error': contactForm.firstName.$invalid && (contactForm.firstName.$dirty || contact.id || submitted)}">
            <label>First Name</label>
            <input class="form-control" name="firstName" type="text" ng-model="contact.firstName" required="" placeholder="e.g. Lucas" />
            <p ng-if="contactForm.firstName.$invalid && (contactForm.firstName.$dirty || contact.id || submitted)" class="help-block">First Name is required!</p>
        </div>
        <div class="form-group" ng-class="{'has-error': contactForm.lastName.$invalid && (contactForm.lastName.$dirty || contact.id || submitted)}">
            <label>Last Name</label>
            <input class="form-control" name="lastName" type="text" ng-model="contact.lastName" required="" placeholder="e.g. Jans" />
            <p ng-if="contactForm.lastName.$invalid && (contactForm.lastName.$dirty || contact.id || submitted)" class="help-block">Last Name is required!</p>
        </div>
        <div class="form-group" ng-class="{'has-error': contactForm.email.$invalid && (contactForm.email.$dirty || contact.id || submitted)}">
            <label>Email</label>
            <input class="form-control" name="email" type="email" ng-model="contact.email" required="" placeholder="e.g. name@company.com" />
            <p ng-if="contactForm.email.$invalid && (contactForm.email.$dirty || contact.id || submitted)" class="help-block">Please input a valid email!</p>
        </div>
        <p>Note: all fields are required!</p>
        <div>
            <button class="btn btn-primary">
                <span ng-if="contact.id">Save</span>
                <span ng-if="!contact.id">Add</span>
            </button>
            <button class="btn" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    <div class="alert alert-danger" ng-if="saveError" ng-bind="saveError"></div>
</div>
<div class="modal-footer">
</div>